In [7]:
import pandas as pd
predict = pd.read_csv('./target/y_predict.csv')
predict

       wagnum       month
0       33361  2023-03-01
1       33364  2023-03-01
2       33366  2023-03-01
3       33358  2023-03-01
4       33349  2023-03-01
...       ...         ...
33702   17621  2023-03-01
33703   25045  2023-03-01
33704   27156  2023-03-01
33705   21361  2023-03-01
33706    8061  2023-03-01

[33707 rows x 2 columns]

In [9]:
predict['target_month'] = len(predict) * [1]
predict['target_day'] = len(predict) * [1]
predict

       wagnum       month  target_month  target_day
0       33361  2023-03-01             1           1
1       33364  2023-03-01             1           1
2       33366  2023-03-01             1           1
3       33358  2023-03-01             1           1
4       33349  2023-03-01             1           1
...       ...         ...           ...         ...
33702   17621  2023-03-01             1           1
33703   25045  2023-03-01             1           1
33704   27156  2023-03-01             1           1
33705   21361  2023-03-01             1           1
33706    8061  2023-03-01             1           1

[33707 rows x 4 columns]

In [11]:
predict.to_csv('allOnes.csv')